* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #121212;
  color: #fff;
}
nav {
  background-color: #46a3dc;
}
ul {
  display: flex;
  list-style-type: none;
}
li {
  padding: 20px;
}
h1 {
  color: aqua;
  margin-top: 15px;
  margin-left: 15px;
}

h2 {
  margin-top: 15px;
  margin-left: 15px;
  display: flex;
}

p {
  margin-left: 15px;
  display: flex;
}
img {
  width: 300px;
}

.about-me {
  display: flex;
  justify-content: space-evenly;
}
.about-me-text {
  width: 500px;
}

/*  Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        background-color: #fff;
        color: #000;
    }
  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  h1 {
    color: red;
  }
  .about-me{
      flex-direction: column;
      align-items: center;
  }
  .about-me-text{
      width: 100%;
  }
}
